.toogle {
    background-color: turquoise !important;
    color: white !important;
}

.btn:hover {
    background-color: #dfdfdf !important;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
  